<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      QUERY_ALL_PACKAGES is required to enumerate every installed app on
      Android 11+. This app's purpose IS to inspect the package list, so
      this permission is unavoidable. The app makes no network calls.
    -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".PackageSpyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.NutSpyDetector"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        tools:targetApi="33">

        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.NutSpyDetector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false" android:exported="false">
            <meta-data android:name="autoStoreLocales" android:value="true" />
        </service>
    </application>
</manifest>
